{%load static%}
<section class="section-7">
  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark">

      <!-- Footer Links -->
      <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

              <!-- Grid column -->
              <div class="col-lg-5 col-sm-12 mx-auto box-1">

                  <!-- Content -->
                  <a href="{% url 'anasayfa'%}"><img src="static/images/logo1.png" alt="footer-logo"></a>
                  <p>Samsun Atakumda ilk ve tek Bungalov evlerini yaparak müşterilerimizin memnuniyetlerini üst planda tutmak için çalışıyoruz.</p>

              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none">

              <!-- Grid column -->
              <div class="col-lg-2 col-sm-4 box-2 mx-auto px-5">

                  <!-- Links -->
                  <h5>Navigasyon</h5>

                  <ul class="list-unstyled">
                      <li>
                          <a href="{% url 'anasayfa'%}">ANA SAYFA</a>
                      </li>
                      <li>
                          <a href="{% url 'hizmetler'%}">HİZMETLER</a>
                      </li>
                      <li>
                          <a href="{% url 'galeri'%}">GALERİ</a>
                      </li>
                      <li>
                          <a href="{% url 'iletisim'%}">İLETİŞİME GEÇ</a>
                      </li>
		      <li>
                        <a href="mailto:info@atakumbungalovevleri.com">MAİL GÖNDER</a>
                      </li>
                      <li>
                        <a href="https://wa.me/905524225555">WHATSAPP</i></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/atakumbungalovevlerisamsun/">İNSTAGRAM</i></a>
                      </li>
                      
                  </ul>

              </div>
              <hr class="clearfix w-100 d-md-none">
              <div class="col-lg-5 col-sm-4 box-2 mx-auto">
                <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7115.170658588168!2d36.1569287218303!3d41.427052843057666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40888703bd1d6cb3%3A0xadf17d88b87197d!2sAtakum%20Bungalov%20Evleri!5e0!3m2!1str!2str!4v1676710025215!5m2!1str!2str" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none">

              

              <hr class="clearfix w-100 d-md-none">

              <!-- Grid column -->
              
              <!-- Grid column -->

          </div>
          <!-- Grid row -->

      </div>
      <!-- Footer Links -->
      

      <!-- Copyright -->
      <div class="footer-copyright text-center">
          <div class="gradient"></div>
          <p>© 2023, Atakum Bungalov Evleri Tüm Hakları Saklıdır. <a href="mailto:info@atakumbungalovevleri.com">info@atakumbungalovevleri.com</a></p>
      </div>
      <!-- Copyright -->

  </footer>
  <!-- Footer -->
</section>
